
@{
    ViewData["Title"] = "Index";
}

<!-- Page Banner Image Section -->
<div class="page-banner-image-section">
    <div class="image">
        <img src="~/images/background/1.jpg" alt="" />
    </div>
</div>
<!-- End Page Banner Image Section -->
<!-- About Section Two -->
<div class="about-section-two">
    <div class="auto-container">
        <div class="inner-container">
            <div class="row align-items-center clearfix">

                <!-- Image Column -->
                <div class="image-column col-lg-6">
                    <div class="about-image">
                        <div class="about-inner-image">
                            <img src="images/about/home-about.png" alt="about">
                        </div>
                    </div>
                </div>

                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12 mb-0">
                    <div class="inner-column">
                        <div class="sec-title">
                            <div class="title">about consulte</div>
                            <h2>Leading <span>Financial</span> <br> <span>Consulting</span> Company</h2>
                        </div>
                        <div class="text">
                            <p>Consulte is located in the former rectory of St. Peter’s Episcopal Church. Over our 14 year history, we have treated patients from over 114 different countries in the world. In 2010, we imposed geographical restrictions for the first time. Existing patients were not affected by this change, but new patients are now</p>
                            <p>We have compiled an extensive list of other area clinics and health resources, so that when someone calls from outside of our geographical area.</p>
                        </div>
                        <div class="signature">Daniel <span>Daniel Jr</span></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End About Section Two -->
<!-- Reputation Section Two -->
<div class="reputation-section-two">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Content Column -->
            <div class="content-column col-lg-7 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <div class="title">why choose us</div>
                        <h2><span>Your Successful </span>Is<br> Our Reputation</h2>
                    </div>
                    <div class="blocks-outer">

                        <!-- Reputation Block -->
                        <div class="reputation-block">
                            <div class="inner-box">
                                <h5>Strong Martket Analysis</h5>
                                <div class="text">Tasks, docs, and files integrate with Arado’s chat to close the <br> gaps between feedback and action.</div>
                            </div>
                        </div>

                        <!-- Reputation Block -->
                        <div class="reputation-block">
                            <div class="inner-box">
                                <h5>Experience & Percision</h5>
                                <div class="text">Create multiple discussions to keep all relevant conversations <br> together, all in one place with Arado</div>
                            </div>
                        </div>

                        <!-- Reputation Block -->
                        <div class="reputation-block">
                            <div class="inner-box">
                                <h5>Experts About Business</h5>
                                <div class="text">Create multiple discussions to keep all relevant conversations <br> together, all in one place with Arado</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Form Column -->
            <div class="form-column col-lg-5 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="form-boxed">
                        <h5>free consulation</h5>

                        <div class="consult-form">
                            <form method="post" action="donate.html">

                                <!--Form Group-->
                                <div class="form-group">
                                    <label>full name</label>
                                    <input type="text" name="name" value="" placeholder="Jason Staham" required>
                                </div>
                                <!--Form Group-->
                                <div class="form-group">
                                    <label>phone number</label>
                                    <input type="text" name="phone" value="" placeholder="Enter your phone number" required>
                                </div>
                                <!--Form Group-->
                                <div class="form-group">
                                    <label>topics</label>
                                    <select class="custom-select-box">
                                        <option>Choose topic</option>
                                        <option>Topic 01</option>
                                        <option>Topic 02</option>
                                        <option>Topic 03</option>
                                        <option>Topic 04</option>
                                    </select>
                                </div>
                                <!--Form Group-->
                                <div class="form-group">
                                    <label>message</label>
                                    <textarea name="message" placeholder="Write your message here"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="txt">send your messenger</span></button>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Reputation Section -->
<!-- Experts Section -->
<div class="experts-section">
    <div class="auto-container">

        <!-- Sec Title -->
        <div class="sec-title">
            <div class="clearfix">
                <div class="pull-left">
                    <div class="title">our services</div>
                    <h2>We Are <span>Friendly & Profressional</span></h2>
                </div>
                <div class="pull-right">
                    <a href="service.html" class="experts">all experts <span class="arrow ti-angle-right"></span></a>
                </div>
            </div>
        </div>

        <div class="row clearfix">

            <!-- Team Block -->
            <div class="team-block col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <a href="#"><img src="images/resource/team-1.jpg" alt="" /></a>
                        <!-- Social Box -->
                        <ul class="social-box">
                            <li><a href="https://twitter.com/" class="icofont-twitter"></a></li>
                            <li><a href="http://facebook.com/" class="icofont-facebook"></a></li>
                            <li><a href="https://www.instagram.com/" class="icofont-instagram"></a></li>
                            <li><a href="https://www.linkedin.com/" class="icofont-linkedin"></a></li>
                        </ul>
                    </div>
                    <div class="lower-box mt-0">
                        <h4><a href="#">Edward Eric Jr</a></h4>
                        <div class="designation">Business & Financial Expert</div>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <a href="#"><img src="images/resource/team-2.jpg" alt="" /></a>
                        <!-- Social Box -->
                        <ul class="social-box">
                            <li><a href="https://twitter.com/" class="icofont-twitter"></a></li>
                            <li><a href="http://facebook.com/" class="icofont-facebook"></a></li>
                            <li><a href="https://www.instagram.com/" class="icofont-instagram"></a></li>
                            <li><a href="https://www.linkedin.com/" class="icofont-linkedin"></a></li>
                        </ul>
                    </div>
                    <div class="lower-box mt-0">
                        <h4><a href="#">Tom Holland</a></h4>
                        <div class="designation">Logistic & Communication Expert</div>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <a href="#"><img src="images/resource/team-3.jpg" alt="" /></a>
                        <!-- Social Box -->
                        <ul class="social-box">
                            <li><a href="https://twitter.com/" class="icofont-twitter"></a></li>
                            <li><a href="http://facebook.com/" class="icofont-facebook"></a></li>
                            <li><a href="https://www.instagram.com/" class="icofont-instagram"></a></li>
                            <li><a href="https://www.linkedin.com/" class="icofont-linkedin"></a></li>
                        </ul>
                    </div>
                    <div class="lower-box mt-0">
                        <h4><a href="#">Laura Erakovic</a></h4>
                        <div class="designation">Consumer Market Expert</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Experts Section -->
<!-- Testimonial Section -->
<div class="testimonial-section style-two">
    <div class="auto-container">
        <div class="inner-container">

            <!-- Sec Title -->
            <div class="sec-title">
                <div class="title">testimonials</div>
                <h2><span>+2,500 Clients </span>Love Us</h2>
            </div>
            <div class="testimonial-carousel owl-carousel owl-theme">

                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="quote icofont-quote-right"></div>
                        <div class="author">Ryan Betthalyn <span>/ Director at Chobham Manor</span></div>
                        <div class="text">Sed elit quam, iaculis sed semper sit amet udin vitae nibh. Rubino at magna akal semperFusce commodo molestie luctus.Lorem ipsum Dolor tusima olatiup.</div>
                    </div>
                </div>

                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="quote icofont-quote-right"></div>
                        <div class="author">Bobs Hanley <span>/ Director at Spotify</span></div>
                        <div class="text">Sed elit quam, iaculis sed semper sit amet udin vitae nibh. Rubino at magna akal semperFusce commodo molestie luctus.Lorem ipsum Dolor tusima olatiup.</div>
                    </div>
                </div>

                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="quote icofont-quote-right"></div>
                        <div class="author">Ryan Betthalyn <span>/ Director at Chobham Manor</span></div>
                        <div class="text">Sed elit quam, iaculis sed semper sit amet udin vitae nibh. Rubino at magna akal semperFusce commodo molestie luctus.Lorem ipsum Dolor tusima olatiup.</div>
                    </div>
                </div>

                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="quote icofont-quote-right"></div>
                        <div class="author">Bobs Hanley <span>/ Director at Spotify</span></div>
                        <div class="text">Sed elit quam, iaculis sed semper sit amet udin vitae nibh. Rubino at magna akal semperFusce commodo molestie luctus.Lorem ipsum Dolor tusima olatiup.</div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- End Testimonial Section -->
<!-- Sponsors Section -->
<div class="sponsors-section">
    <div class="auto-container">

        <div class="carousel-outer">
            <!--Sponsors Slider-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li><div class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></div></li>
            </ul>
        </div>

    </div>
</div>

<!--End Sponsors Section-->
