
@{
    ViewData["Title"] = "Index";
}

<!-- Page Title Section -->
<div class="page-title-section">
    <div class="auto-container">
        <ul class="post-meta">
            <li><a href="index.html">Index</a></li>
            <li>Project</li>
        </ul>
        <h2><span>Latest</span> From Our Project</h2>
    </div>
</div>
<!-- End Page Title Section -->
<!-- Project Section -->
<div class="project-section section-padding">
    <div class="outer-container">
        <div class="row clearfix">

            <!-- Column -->
            <div class="column col-lg-6 col-md-12 col-sm-12">
                <div class="row clearfix">

                    <!-- Inner Column -->
                    <div class="inner-column col-lg-6 col-md-6 col-sm-12">
                        <div class="gallery-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="images/gallery/2.jpg" alt="" />
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <h3><a asp-controller="Project" asp-action="ProjectDetail">WOTa Money Save</a></h3>
                                            <div class="designation">Finance, Consulting</div>
                                            <a href="project-details.html" class="arrow ti-angle-right"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Inner Column -->
                    <div class="inner-column col-lg-6 col-md-6 col-sm-12">
                        <div class="gallery-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="images/gallery/3.jpg" alt="" />
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <h3><a href="project-details.html">WOTa Money Save</a></h3>
                                            <div class="designation">Finance, Consulting</div>
                                            <a href="project-details.html" class="arrow ti-angle-right"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Inner Column -->
                    <div class="inner-column col-lg-12 col-md-12 col-sm-12">
                        <div class="gallery-block">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="images/gallery/4.jpg" alt="" />
                                    <div class="overlay-box">
                                        <div class="overlay-inner">
                                            <h3><a href="project-details.html">WOTa Money Save</a></h3>
                                            <div class="designation">Finance, Consulting</div>
                                            <a href="project-details.html" class="arrow ti-angle-right"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Column -->
            <div class="column col-lg-6 col-md-12 col-sm-12">
                <div class="gallery-block">
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/gallery/1.jpg" alt="" />
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <h3><a href="project-details.html">WOTa Money Save</a></h3>
                                    <div class="designation">Finance, Consulting</div>
                                    <a href="project-details.html" class="arrow ti-angle-right"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Project Section -->
